/* reset */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,
legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}
button,input,select,textarea{margin:0}
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}
img,embed,iframe,object,audio,video{height:auto;max-width:100%}
iframe{border:0}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0;text-align:left}

/*** elements ***/
/* typography */
html { font: normal normal 300 10px/1 Lato, sans-serif; color: #37474F; }
h1, h2, h3, h4, h5, h6 { line-height: 1.3; }
h1 { font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.4rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2.6rem; }
h6 { font-size: 2.2rem; }
small { font-size: 80%;}
body, span, time, var, mark, abbr, dfn, dl, dt, code, kbd, pre, ol, ul, li, p, table, td, tr, th {
    font-size: 2rem; line-height: 2;
}
blockquote { font-style: italic; font-size: 3rem; line-height: 1.5; }
/* tables */
table,
td,
tr,
th {
    padding: .5rem; line-height: 1.5;
}
/* forms */
form, button, datalist, fieldset, input, label, legend,
meter, optgroup, option, output, progress, select, textarea  {
    font: 300 2rem/1.5 Lato, sans-serif; color: #37474F;
    padding: .5rem;
}
/* buttons */
input[type='submit'], button {
    padding: 1rem;
    color: white;
    background: dodgerblue;
    border: transparent;
    cursor: pointer;
}
/* icons */
/* labels */
/* codes */

/* media */
figure {margin:0; padding: 2rem 0;}
figcaption { font-size: 1.6rem; font-style: italic; text-align: center; }

/* image */
img {
    display: block;
    max-width: 100%;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
    border: 0;
    }
/* video */
video {
    width: 100% !important;
    height: auto !important
}

.video,
.audio, 
.video object,
.video embed {
    position: relative;
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

/* layout */
.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 9.09rem));
    grid-auto-rows: auto-fill;
    grid-gap: 1rem;
    justify-content: center;
}

.header, .footer, .section-12 {
    grid-column: span 12;
    background: mediumorchid;
}

.header, .footer {
    line-height: 6rem;
}
.section-4{
    grid-column: span 4;
    background: mediumaquamarine;
}

.section-6{
    grid-column: span 6;
    background: mediumturquoise;
}

.section-8{
    grid-column: span 8;
    background: mistyrose;
}

.hero-1{
    min-height: 60rem;
}

.hero-2{
    min-height: 40rem;
}

.hero-3{
    min-height: 20rem;
}

.hero-4{
    min-height: 10rem;
}

/*  */

.m {
    background: thistle;
}

@media (min-width: .1rem) {  }
@media (min-width: 60rem) {  }
@media (min-width: 90rem) {  }
@media (min-width: 120rem) {  }
@media (min-width: 180rem) {  }